@media (min-width:768px) {
    .container {
        padding: 0 40px;
    }
    .header {
        min-height: 100px;
        padding: 28px 0;
    }
    .header__contacts {
        top: 101px;
        padding: 40px;
    }
    .header__logo {
        width: 180px;
    }
    .contacts__list {
        display: flex;
        justify-content: space-between;
    }
    .contacts__item {
        margin-bottom: 0;
    }
}
@media (min-width:992px) {
    .page__header{
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
    }
    .header__container {
        height: 100%;
        flex-direction: column;
    }
    .header__contacts {
        position: static;
    }
    .contacts__list {
        flex-direction: column;
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 50px;
    }
    .header__contacts-burger {
        display: none;
    }
}
@media (min-width:1440px) {
    .header {
        padding-top: 60px;
    }
}


